{% extends "base.html" %}

{% block content %}
<div class="field is-left">
    <div class="buttons is-primary">
        <a href="{{url_for('main.competitions')}}" class="button is-outlined is-white">back</a>
    </div>
</div>
<div class="box has-background-light ">
    <div class="table-container">
    <table class="table has-background-light is-fullwidth ">
        <thead class="has-text-centered">
            <tr class="has-text-centered">
                {% for event in events %}
                <th>{{event}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for round in rounds %}
                <td>
                    {% for stage in round[1] %}
                    <div>
                        <a class="button is-link is-outlined" href="{{url_for('main.round_page', event=round[0], round=stage, compname=compname)}}">round {{stage}}</a> 
                    </div>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}