{% extends "base.html" %}

{% block content %}
<div class="htmx-indicator d-relative justify-content-center w-100" id="loading">
    <div class="spinner d-absolute">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="modal fade modal-xl" id="edit-competition-modal" tabindex="-1" aria-labelledby="editCompetitionModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="card col-12 col-md-4 mb-1">
                        <form hx-post="/add_new_competitor/{{ request.args.get('id') }}" hx-swap="outerHTML">
                            <div class="m-3">
                                <label class="form-label" for="new-competitor-name">New competitor name:</label>
                                <input class="form-control" id="new-competitor-name" type="text"
                                    name="NewCompetitorName">
                            </div>
                            <div class="m-3" hx-get="/comp_events/{{ request.args.get('id') }}" hx-trigger="load"
                                hx-swap="innerHTML"></div>
                            <button type="submit" class="btn btn-secondary mb-3">Add</button>
                        </form>
                    </div>
                    <div class="card col-12 col-md-8 mb-1"
                        hx-get="/competition_competitors/{{ request.args.get('id') }}" hx-swap="innerHTML"
                        hx-trigger="load, every 10s">

                    </div>

                </div>


            </div>

            <div class="row m-3" id="competition-edit-buttons">
                <div class="col text-start">
                    <button type="button" class="btn btn-danger float-left" onclick="deleteComp()">Delete
                        Competition</button>
                </div>
                <div class="col text-start">
                    <button class="btn btn-success" onclick="assignFirstRounds()">
                        Assign groups
                    </button>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-secondary" onclick="calculate()">assing points</button>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>



        </div>

    </div>

</div>
<div>
    <button class="btn btn-outline-warning me-3 mb-3" style="float: right;" data-bs-toggle="modal"
        data-bs-target="#edit-competition-modal">edit competition</button>

</div>
{% endif %}
<ul class="nav nav-tabs nav-fill mb-5" id="event-selector" hx-get="/navbar_events/{{ request.args.get('id') }}"
    hx-trigger="load">

</ul>
<div class="container-fluid align-items-center justify-content-center w-100" id="data-container">
</div>

<script>
    document.getElementById('nav-brand').innerHTML="{{name}}"
    
    function showFlashMessage(message, category) {
            console.log
            let alertDiv = document.createElement("div");
            alertDiv.className = `alert alert-${category} alert-dismissible fade show fixed-top m-3 shadow`;
            alertDiv.role = "alert";
            alertDiv.innerHTML = `
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            buttonsDiv = document.getElementById("competition-edit-buttons")
            buttonsDiv.appendChild(alertDiv);

            setTimeout(() => {
                alertDiv.classList.remove("show");
                alertDiv.classList.add("fade");
                setTimeout(() => alertDiv.remove(), 500);
            }, 5000);
        }

    function calculate(){
        url = "/calculate_competition_points/{{ request.args.get('id') }}"
        fetch(url)
            .then(resp => {
                if(resp.status == 200){
                    alert("Points calculated!")
                }
                else{
                    alert("Something went wrong!")
                }
                location.reload()
            })
    }

    function assignFirstRounds(){
        url = "/assign_first_rounds_groups/{{ request.args.get('id') }}"
        fetch(url)
        .then(response => response.json())
        .then(data => {
                showFlashMessage(data.message, data.category)
            })
            .catch(error => {
                showFlashMessage("An error occurred.", "danger")
            })
    }

    function deleteComp(){
        url = "/delete_comp/{{ request.args.get('id') }}"
        if(confirm("Do you want to permamently delete this competition?") == true){

        
        fetch(url, {
            method: "DELETE"
        })
        .then(window.open('/'))
    }
    }
</script>

<style>
    .htmx-indicator {
        display: none;
    }

    .htmx-request .htmx-indicator {
        display: flex;
    }

    .htmx-request.htmx-indicator {
        display: flex;
    }
</style>

{% endblock %}