<div id="events-pick-container">

</div>

<script type="text/javascript">
    const BASE_URL = "{{ request.url_root }}"

    let ev = '{{events}}'
    ev = ev.replace(/&#39;/g, "'")
    ev = ev.replace(/'/g, '"')
    const events = JSON.parse(ev)



    const container = document.getElementById("events-pick-container")
    container.innerHTML = ""

    events.forEach(event => {

        const wrap = document.createElement("div")
        wrap.setAttribute("class", "card m-2")

        const body = document.createElement('div');
        body.setAttribute('class', 'card-body');

        body.innerHTML = `
            <div class="row">
                <div class="col">
                    <h4 class="card-title">${event.name}</h4>
                    <input type="checkbox" class="btn-check" id="${event.name}-check" autocomplete="off">
                    <label class="btn btn-outline-primary" for="${event.name}-check" id="${event.name}-check-label">Add</label>
                </div>
                <div class="col" id="${event.name}-number-box">
                    <h6>Rounds:</h6>
                    <input type="number" class="form-control" id="${event.name}-number" min="1" max="3">
                    <div id="${event.name}-round-advs">
                    </div>
                </div>
            </div>
            `

        wrap.appendChild(body)
        container.appendChild(wrap)

        const checkbox = document.getElementById(`${event.name}-check`)
        const checkboxLabel = document.getElementById(`${event.name}-check-label`)
        const numInputBox = document.getElementById(`${event.name}-number-box`)
        const numInput = document.getElementById(`${event.name}-number`)

        numInput.addEventListener("change", () => {
            const rounds = numInput.value
            const rounds_advs = document.getElementById(`${event.name}-round-advs`)
            let rounds_advs_content = ''
            for (let num = 1; num <= rounds; num++) {
                rounds_advs_content += `<p>Round ${num} advance: <input id="${event.name}-round-${num}" type="text" value="3" class="form-control"/></p>`
            }
            rounds_advs.innerHTML = rounds_advs_content
        })

        numInputBox.style.visibility = "hidden"

        checkbox.addEventListener("change", () => {
            if (checkbox.checked) {
                wrap.classList.add("text-bg-primary")
                checkboxLabel.textContent = "Remove"
                checkboxLabel.classList.remove("btn-outline-primary")
                checkboxLabel.classList.add("btn-outline-danger")
                numInputBox.style.visibility = "visible"
            } else {
                wrap.classList.remove("text-bg-primary")
                checkboxLabel.textContent = "Add"
                checkboxLabel.classList.remove("btn-outline-danger")
                checkboxLabel.classList.add("btn-outline-primary")
                numInputBox.style.visibility = "hidden"
            }
        })

    })



    function postCompetition() {
        const compUrl = `${BASE_URL}competitions`
        const name = document.getElementById('new-competition-name').value

        let dataToSend = {
            competition_name: name,
            events: []
        }


        events.forEach(event => {
            if (document.getElementById(`${event.name}-check`).checked) {
                const rounds = document.getElementById(`${event.name}-number`).value
                const rounds_adncs = []
                for (let num = 1; num <= rounds; num++) {
                    rounds_adncs.push(document.getElementById(`${event.name}-round-${num}`).value)
                }
                const ev = {
                    name: event.name,
                    number: rounds,
                    rounds_numbers: rounds_adncs
                }
                dataToSend.events.push(ev)
            }

        });

        fetch(compUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataToSend)
        })
            
            .then(()=> location.reload())   
            .catch(error => {
                console.error(error);
            })
    }


    if (document.getElementById('post-competition')) {
        document.getElementById('post-competition').addEventListener('click', function () {
            postCompetition()
        })
    }


</script>