{% extends "base.html" %}
{% block content %}

<h2 class="text-center mt-2 mb-3">{{event}} round {{round}}</h2>

<table class="table text-center">
    <thead>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>
                [{{row[0]}}]
            </td>
            <td>
                {{row[1]}}
            </td>
            <td>

                {{row[2]}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}