<div class="row m-2 text-center justify-content-center">
    <div class="card col-12 col-md-6 text-center mb-2">
        <h4 class="m-2">Best Singles</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Competition
                    </th>
                </tr>
            </thead>
            {% for single in singles %}
            <tr>
                <td>
                    {{ loop.index }}.
                </td>
                <td>
                    <strong>
                        {{single.competitor.name}}
                    </strong>
                </td>
                <td>
                    {{single.time_string}}
                </td>
                <td>
                    {{single.competitor.competition.name}}
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
    <div class="card col-12 col-md-6 text-center mb-2">
        <h4 class="m-2">Best Averages</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Averge
                    </th>
                    <th>
                        Competition
                    </th>
                </tr>
            </thead>
            {% for avg in averages %}
            <tr>
                <td>
                    {{ loop.index }}.
                </td>
                <td>
                    <strong>
                        {{avg.competitor.name}}
                    </strong>
                </td>
                <td>
                    {{avg.avg_string}}
                </td>
                <td>
                    {{avg.competitor.competition.name}}
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>