{% extends "base.html" %}
{% block content %}
<div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- <button class="btn btn-outline-light" onclick="history.back()">back</button> -->
        {%if current_user.is_authenticated %}
        <a class="btn btn-danger ms-5 me-5 mb-2"
            href="{{url_for('main.enter_results', compname = compname, round = round, event = event)}}">edit round</a>
        {% endif %}
    </div>

</div>

<div>
    <div>
        <table class="table text-center ">
            <thead>
                <div>
                    <h1 class="text-center">{{event}} - {{round}}. round</h1>
                </div>

                <tr>
                    <th> </th>
                    <th>Name</th>
                    <th class="d-none d-lg-table-cell">1</th>
                    <th class="d-none d-lg-table-cell">2</th>
                    <th class="d-none d-lg-table-cell">3</th>
                    <th class="d-none d-lg-table-cell">4</th>
                    <th class="d-none d-lg-table-cell">5</th>
                    <th>Best</th>
                    <th>Ao5</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>

                    {% if row[11] %}
                    <td style="background-color:green;">
                        {% else %}
                    <td>
                        {% endif %}
                        {{row[0]}}.
                    </td>
                    <td>
                        <div class="d-grid gap-2">
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{row[1]}}collapse" aria-expanded="false"
                                aria-controls="{{row[1]}}collapse">
                                {{row[2]}}
                            </button>
                        </div>
                        <div class="collapse mt-4" id="{{row[1]}}collapse">
                            <ol>
                                <li><strong>{{row[3]}}</strong></li>
                                <li><strong>{{row[4]}}</strong></li>
                                <li><strong>{{row[5]}}</strong></li>
                                <li><strong>{{row[6]}}</strong></li>
                                <li><strong>{{row[7]}}</strong></li>
                            </ol>
                        </div>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {{row[3]}}
                    </td>
                    <td class="d-none d-lg-table-cell">

                        {{row[4]}}
                    </td>
                    <td class="d-none d-lg-table-cell">

                        {{row[5]}}
                    </td>
                    <td class="d-none d-lg-table-cell">

                        {{row[6]}}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {{row[7]}}
                    </td>
                    <td>
                        {{row[8]}}
                    </td>
                    <td>
                        {{row[9]}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}